body {
    font-family: 'Lato', sans-serif;

}

/* Add a white background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    border-bottom: 3px solid red;
}

/* Resize image */
.topnav .logo {
    width: 200px;
    height: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 16px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: red;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: red;
}

/* button header position */
.button {
    float: right;
}

/* specific button header */
.one {
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
    margin-right: 3px;
    margin-top: 10px;
}

/* specific button header when hover */
.one:hover {
    color: white;
    background-color: red;
}

/* specific button header */
.two {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
    margin-left: 3px;
    margin-top: 10px;
}

/* specific button header with hover */
.two:hover {
    padding-left: 20px;
    width: 10%;
}

/* define background-image for introduction */
.background-sky {
    color: white;
    height: 700px;
    background-image: url("../img/crb-main.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px;
    margin: 40px;
}

/* define big title */
h1 {
    color: white;
    font-size: 60px;
    border-bottom: 1px solid white;

}

/* define features for text inside background-image */
.background-text {
    text-align: center;
    padding: 170px 300px;
}

p {
    font-size: 20px;
    margin-bottom: 50px;
}

/* define features for navbar of main section */
.navigation {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

/* define features for navbar of main section with hover */
.navigation:hover {
    padding-left: 20px;
    padding-right: 20px;
    width: 8%;
}

.values {
    padding: 5px 450px;
    text-align: center;
}

.values h3 {
    color: #a2a2a2;
}

.values p {
    color: #343434;
}

/* define other color for last part of footer */
.light {
    background-color: #535353;
}

/* define features background form */
.background-sky-form {
    background-color: #bc2b07;
    background-image: url(../img/crb-main.jpeg);
    background-blend-mode: multiply;
    display: block;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-size: 1600px;
    margin: 40px;
    z-index: -1;
    color: white;
    padding: 50px 200px;
    text-align: center;
}

/* title form */
.background-sky-form h3 {
    font-size: 30px;
}

/* paragraph form */
.background-sky-form p {
    border-top: 1px solid white;
    font-size: 15px;
    font-style: italic;
    padding-top: 10px;
}

/* features submit button */
#submit {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
    margin-left: 3px;
    margin-top: 10px;
}

/* features submit button with hover */
#submit:hover {
    padding-left: 20px;
    padding-right: 20px;
}

/* features form inputs */
.forminput {
    color: #a2a2a2;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-style: italic;
}

/* define global features of footer */
.darkfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    background-color: #1a1a1a;
    height: 450px;
}

.mini img {
    max-width: 100%;
    height: 61px;
    padding: 10px;
    margin: 40px;
    background-color: white;
}

ul li {
    padding: 15px;
    list-style: none;
}

ul li a {
    color: #a2a2a2;
    text-decoration: none;

}

.lightfooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    background-color: #2b3134;
    height: 30px;
    padding: 10px;
    color: white;
}

.lightfooter a {
    color: white;
    text-decoration: none;
}

.backnav a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-right: 1px solid white;
}


.social a {
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
}